---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "About Me"

const identity = {
  firstName: "Aditya Jyotiraditya Sahoo",
  country: "India",
  occupation: "Student",
  hobbies: ["football", "chess", "standup comedy", "writing"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---

<!-- the double dots (..) mean "go up one level in the directory hierarchy".  -->
<!--When conflicting styles are defined both globally and in a page’s local <style> tag, the local styles should overwrite any global styles. (But, there can be other factors involved, so always visually inspect your site to make sure your styles are properly applied!)
  If you want a style to be applied site-wide, you would choose to use a global.css file. However, if you want styles to apply to only the HTML content in a single .astro file, and not affect other elements on your site, you would choose a <style> tag. -->


<html>

<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
  <title>{pageTitle}</title>

  <style define:vars={{skillColor, fontWeight, textCase}}>
    h1 {
      color: purple;
      font-size: 4rem;
      text-transform: var(--textCase);
    }
    .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
  }
  </style>

</head>
    <body>

        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        
    
    <h1>{pageTitle}</h1>
    <h2>....and my new Astro Site</h2>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class = "skill">{skill}</li>)}
    </ul>
      
  
  {happy && <p>I am happy to be learning Astro!</p>}
  
  {finished && <p>I finished this tutorial!</p>}
  
  {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}


    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

    <p></p>
    
  <Footer />
  </body>
</html>
