---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const identity = {
  firstName: "Aditya Jyotiraditya Sahoo",
  country: "India",
  occupation: "Student",
  hobbies: ["football", "chess", "standup comedy", "writing"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---

<!-- the double dots (..) mean "go up one level in the directory hierarchy".  -->
<!--When conflicting styles are defined both globally and in a page’s local <style> tag, the local styles should overwrite any global styles. (But, there can be other factors involved, so always visually inspect your site to make sure your styles are properly applied!)
  If you want a style to be applied site-wide, you would choose to use a global.css file. However, if you want styles to apply to only the HTML content in a single .astro file, and not affect other elements on your site, you would choose a <style> tag. -->


    <BaseLayout pageTitle={pageTitle}>
      <p></p>
      <html>
        <body>
          <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class = "skill">{skill}</li>)}
    </ul>
      
  
  {happy && <p>I am happy to be learning Astro!</p>}
  
  {finished && <p>I finished this tutorial!</p>}
  
  {goal === 3 ? <p>My goal is to finish in N days.</p> : <p>My goal is not 3 days.</p>}


    <p></p>

  <p>This site will be updated daily, so keep checking back and see how my journey is going!</p>
        </body>
      </html>

    </BaseLayout>